section#contact-info {
  background-color: #6D3D5D;
  background-image: url(../img/pexels-photo-545521.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}