// Styling for the contact section
section#contact {
  background-color: #6D3D5D;
  background-image: url('../img/pexels-photo-545521.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1000px;
  .section-heading {
    color: $white;
  }
  .section-subheading, label {
    color: $white;
  }
  .info {
    background-color: rgba(255,255,255,0.5);
    font-size: 20px;
    font-weight: bold;
  }
  label {
    background-color: rgba(0,0,0,0.5);
    padding: 0 10px 0 10px;
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 248px;
    }
  }
  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    /* Firefox 18- */
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    /* Firefox 19+ */
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
}
