// Styling for the masthead
header.masthead {
  padding-bottom: 25%;
  padding-top: 25%;
  text-align: center;
  color: $gray-800;
  background-image: url("/img/efe-kurnaz-315384-unsplash.jpg");
  background-attachment: scroll;
  background-position: center;
  @include background-cover;
  .logo-mast{
    height: 500px;
  }
  .intro-text {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    .button-header{
      width: 300px;
      margin: auto;
    }
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 100px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    padding-bottom: 100px;
    padding-top: 150px;
    .intro-text {
      margin: 0px;
      padding: 0px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 0px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
