// Styling for the navbar
#mainNav {
  background-color: $gray-800;
  .logo-header {
    height: 50px;
  }
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $primary;
    @include heading-font;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: white;
        @include heading-font;
        &.active,
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
@media(min-width:992px) {
  #mainNav {
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: $gray-900;
    .navbar-brand {
      font-size: 50px;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.5em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      margin: auto;
      padding-top: 0;
      padding-bottom: 0;
      background-color: rgba(71,71,71,0.9);

    }
  }
}
