// Styling for the team section
#team{
  background-color: white;
}
.team-row{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.team-child{
  display: flex;
  flex-direction: column;
  margin: 30px;
  img{
    margin-bottom: 20px;
    width: 300px;
  }
}
@media(min-width:992px) {
  .team-row{
    flex-direction: row;
  }
}
